SensorListener/Service References/SensorReference/Service12.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demosoap.azurewebsites.net/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="SensorData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Id" type="ser:guid" />
      <xs:element minOccurs="0" name="Light" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="Temperature" type="xs:unsignedByte" />
      <xs:element minOccurs="0" name="TimeStamp" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SensorData" nillable="true" type="tns:SensorData" />
  <xs:complexType name="ArrayOfSensorData">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SensorData" nillable="true" type="tns:SensorData" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSensorData" nillable="true" type="tns:ArrayOfSensorData" />
</xs:schema>