SensorListener/Service References/SensorReference/Service11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://demosoap.azurewebsites.net/Service1.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" />
  <xs:element name="StoreData">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" minOccurs="0" name="data" nillable="true" type="q1:SensorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="StoreDataResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDatas">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAllDatasResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" minOccurs="0" name="GetAllDatasResult" nillable="true" type="q2:ArrayOfSensorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFrom">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTimestamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" minOccurs="0" name="GetDataFromResult" nillable="true" type="q3:ArrayOfSensorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromTo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FromTimestamp" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="ToTimestamp" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataFromToResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/TrialExam2Tutor" minOccurs="0" name="GetDataFromToResult" nillable="true" type="q4:ArrayOfSensorData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>